option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/api"
    APP_ID: "ReplaceWithAppID"
    MASTER_KEY: "ReplaceWithMasterKey"
    DATABASE_URI: "mongodb://localhost:27017/maoji"
    NODE_ENV: "production"
    SERVER_URL: "http://localhost:2018/api"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"